.view-buscar
    width: 1024px
    margin: 40px auto
    padding-bottom: 20px
    .view-content
        .views-row
            border-bottom: 1px solid #e0e0e0
        a
            text-decoration: none
            color: #000
            font-size: 18px
            font-weight: 700
        a:hover
            text-decoration: underline
    .more-link
        display: none

.views-submit-button
    margin-top: -22px

.buscador_contenido
    background-color: $blanco
    padding: 10px

#edit-type
    height: 26px


.view-buscar-usuario
    width: 1024px
    margin: 20px auto

.buscar_usuario
    background-color: $blanco
    padding: 10px

@media only screen and (max-width: 768px)
    .view-buscar
        width: 96%
        padding: 0
        margin: 0 2%
        #edit-title-wrapper
            display: block
            clear: both
        #edit-type-wrapper
            display: block
            clear: both
