footer
    background-color: $negro
    padding: 10px
    margin-top: 20px
    h2
        color: $blanco
        text-align: center
    h4
        color: $blanco
        text-align: center

#webform-client-form-23
    margin-left: 15%

.webform-component
    label
        color: $blanco
        width: 100%
        text-align: center!important

.form-actions
    float: left
    position: relative
    margin-left: 40%
    margin-top: 0
    margin-bottom: 35px
    .webform-submit
        margin-top: 10px
        margin-left: -35px
        border: none
        background: transparent
        color: $blanco
        font-size: $font-mediana
        background: $rojo url("../img/enviar.svg") center top no-repeat
        height: 0px
        padding: 0px 20px 75px 20px
        line-height: 6
        border-radius: 4px

@media only screen and (max-width: 480px)
    #webform-client-form-23
        margin: 0

    footer
        padding: 0