section
    #home
        width: 100%
        position: relative
        height: auto
        float: left
        .content
            width: 1006px
            padding: 20px 09px
            margin: 0 auto
            position: relative
            .destacadas
                width: 1006px
                float: left
                position: relative
                height: auto
                .view-id-home.view-display-id-block
                    width: 660px
                    float: left
                    position: relative
                    height: 930px
                    margin-right: 20px
                    .nota
                        width: 660px
                        float: left
                        position: relative
                        height: 930px
                        .foto
                            width: 100%
                            height: auto
                            img
                                width: 100%
                                height: auto
                        .info
                            background: rgba(184, 183, 179, 0.5)
                            width: 70%
                            height: 100px 
                            padding: 10px
                            position: absolute
                            bottom: 10px
                            margin: 0px 90px
                            span 
                                width: 100%
                                font-size: 26px
                                font-weight: 600
                                text-align: center
                                padding: 10px 0px
                                border-bottom: 1px solid #000
                                float: left
                                line-height: 28px
                            .titulo
                                padding: 10px 0px
                                text-align: center
                                width: 100%
                                float: left
                                a
                                    color: #BA2B30
                                    font-size: 30px
                                    line-height: 32px
                                    text-decoration: none
                                    font-style: italic
                                    font-weight: 600



