@charset "utf-8"

.app_container
	width: 100%
	padding: 0

.row
	width: 1024px
	margin: 0 auto
	padding: 0 

.articulos
	background-color: $blanco
	width: 100%
	margin-top: 20px
	height: auto
	h2
		a
			color: $rojo

.articulos
	.home_movil
		display: none
	h2
		a:hover
			text-decoration: none

#views_slideshow_cycle_teaser_section_home-block
	width: 1024px!important
	height: auto

#views_slideshow_cycle_teaser_section_home-block_1
	width: 1024px!important
	height: auto

#views_slideshow_cycle_div_home-block_1_0
	width: 1024px!important
	height: auto

#views_slideshow_cycle_div_home-block_1_1
	width: 1024px

#views_slideshow_cycle_teaser_section_home-block_2
	width: 1024px!important
	height: auto

#views_slideshow_cycle_main_home-block
	width: 1024px!important
	height: 421px

#views_slideshow_cycle_main_home-block_1
	width: 1024px!important
	height: 421px

#views_slideshow_cycle_main_home-block_2
	width: 1024px!important
	height: 421px

#views_slideshow_cycle_div_home-block_0
	width: 1024px!important
	height: auto

#views_slideshow_cycle_div_home-block_1
	width: 1024px!important
	height: auto


.app_portada_izq
	height: auto
	width: 68%
	display: inline-block
	overflow: hidden
	padding: 0

.app_portada_der
	background-color: $blanco
	height: 415px
	width: 29%
	display: inline-block
	overflow: hidden
	padding: 15px

.app_portada_der
	span
		border-top: 1px solid $rojo
		font-size: 28px
		color: gray
		margin-top: 5px

.app_portada_der
	div
		padding-bottom: 8px

.app_portada_izq_2
	width: 30%
	height: 415px
	padding: 15px
	display: inline-block
	overflow: hidden

.app_portada_der_2
	height: auto
	width: 65.4%
	display: inline-block
	overflow: hidden
	padding: 0
	margin-left: 4.2%


.app_portada_izq_2
	span
		border-top: 1px solid $rojo
		font-size: 28px
		color: gray
		margin-top: 5px

.app_cumple
	width: 100%
	.views-row
		float: left
		margin-right: 10px
		margin-top: 5px
		position: relative
		z-index: 150
		height: 200px

.app_vaca
	width: 100%
	.views-row
		float: left
		margin-right: 10px
		margin-top: 5px
		position: relative
		z-index: 150
		width: 160px
		height: 200px

.app_documen
	width: 100%
	margin-top: 20px
	.views-row
		float: left
		margin-right: 10px
		margin-top: 5px
		position: relative
		z-index: 150
		width: 160px
		height: 200px

#user
	img
		margin: 0 15px

#user
	.user-picture
		text-align: center

#user
	.user_texto
		text-align: center
		color: $grisSuperOscuro

#user
	.fecha
		color: $rojo
		text-transform: uppercase

#user
	background-color: $blanco
	width: 158px
	padding: 15px
	.solicitud_titulo
		a
			color: $grisSuperOscuro

	.solicitud
		color: $rojo

#user
	font-size: $font-mediana
	.display
		display: none
		padding: 0px
		background-color: $rojo
		color: $blanco
	.dependencia
		background: url("../img/iconos dependencias.svg") no-repeat
		height: 40px
		width: 100px
	.formatos
		padding: 10px
	.Cartera
		background-position: -200px -4px
	.Redacción
		background-position: 36px -5px
	.editorial
		background-position: 39px -94px
	.Documentación
		background-position: 38px -170px
	.Servicios
		background-position: -433px -95px
	.Contabilidad
		background-position: -74px -5px
	.Biblioteca
		background-position: -322px -4px
	.Comercial
		background-position: -435px -8px
	.Despacho
		background-position: -74px -93px
	.Circulación
		background-position: -196px -92px
	.Almacen
		background-position: -320px -92px
	.Opinografica
		background-position: -77px -171px
	.Rotativa
		background-position: -199px -172px
	.Administración
		background-position: -322px -172px
	.Gerencia
		background-position: -433px -171px
	.Mercadeo
		background-position: 36px -248px
	.Qhubo
		background-position: -73px -250px

#user:hover
	-moz-box-shadow: 0px 0px 10px $negro
	-webkit-box-shadow: 0px 0px 10px $negro
	box-shadow: 0px 0px 10px $negro
	transition: 0.5s
	.display
		display: block
.display
	.file
		.file-size
			display: block
		img
			display: none
		a
			text-decoration: none
			color: $blanco
			background: url("../img/descargar.svg") top center no-repeat
			padding: 32px 10px
			display: block
			margin: 0 1px
			margin-top: -18px
			height: 0px
			line-height: 60px


.slide-1
	width: 1024px
	height: auto
	.views-slideshow-controls-bottom
		position: relative
		z-index: 140
		left: 912px
		width: 60px
		margin-top: -115px
		height: 60px
		float: left
		.views_slideshow_controls_text_home-block
			width: 60px
			height: 60px

.slide-2
	width: 1024px
	height: auto
	.views-slideshow-controls-bottom
		position: relative
		z-index: 140
		left: 220px
		width: 60px
		margin-top: -115px
		height: 60px
		float: left

.slide-3
	width: 1024px
	height: auto
	.views-slideshow-controls-bottom
		position: relative
		z-index: 140
		left: 912px
		width: 60px
		margin-top: -115px
		height: 60px
		float: left
		.views_slideshow_controls_text_home-block
			width: 60px
			height: 60px

.views-slideshow-controls-bottom
	
	.views-slideshow-controls-text-previous
		a
			background: transparent url("../img/previous.svg") no-repeat
			display: inline-block
			overflow: hidden
			padding: 28px
			text-indent: -9999px
		a:hover
			text-decoration: none
			outline: none
		a:focus
			outline: none
			text-decoration: none
	.views-slideshow-controls-text-pause
		display: none
	.views-slideshow-controls-text-next
		a
			background: transparent url("../img/next.svg") no-repeat
			display: inline-block
			overflow: hidden
			padding: 28px
			margin-left: -32%
			position: absolute
			left: 73%
			top: 0
			text-indent: -9999px
		a:hover
			text-decoration: none
			outline: none
		a:focus
			outline: none
			text-decoration: none

.app_fechas_recordar
	.views-row
		background-color: $blanco
		display: inline-block
		vertical-align: middle
		margin-right: 0.6%
		padding: 15px
		height: 240px
		width: 24%
		.titulo_fecha   
			strong
				background-color: $rojo
				padding: 8px
				color: $blanco
				border-radius: 4px
				font-size: $font-mediana
		.titulo_fecha2
			margin: 15px 0
			span
				a
					color: $grisSuperOscuro
					font-size: $font-mediana

//styles del inicio de sesion
#user-login
	width: 400px
	margin: auto
	.form-actions
		float: none


@media only screen and (max-width: 480px)
	.row
		width: 300px
		margin: 0 auto
		padding: 0
	.view-header
		margin: 0 auto
		width: 80%
	.app_fechas_recordar
		.views-row
			display: block
			margin: 10px auto
			width: 80%
	
	.app_documen
		margin-top: 0px
		.view-content
			margin: 10px auto
			width: 95%
		.views-row
			margin: 15px auto
			display: inline-block
			float: none
			width: 140px
	#user
		width: 135px
		padding: 10px
		img
			margin: 0 10px
		.display
			display: block
			.file
				a
					padding: 32px 6px
	.app_cumple
		margin-top: 0px
		.view-content
			margin: 10px auto
			width: 95%
		.views-row
			margin: 15px auto
			float: none
			display: inline-block
			width: 140px

	.app_vaca
		margin-top: 0px
		.view-content
			margin: 10px auto
			width: 95%
		.views-row
			margin: 15px auto
			float: none
			display: inline-block
			width: 140px
	
	.app_portada_der
		height: 320px
		width: 300px
		display: block
		padding: 6px
		position: relative
		margin: 0
	.app_portada_izq
		width: 100%
	.app_portada_der_2
		width: 100%
		display: block
		margin: 0
	.app_portada_izq_2
		height: 315px
		width: 300px
	.slide-1
		.views-slideshow-controls-bottom
			left: 212px
			top: 50px

	.slide-2 
		.views-slideshow-controls-bottom
			left: 220px
			top: -200px

	.slide-3 
		.views-slideshow-controls-bottom
			left: 212px
			top: 50px

	.articulos
		.home_escritorio
			display: none
		.home_movil
			display: block

	.slide-1
		width: 300px

	.slide-2
		width: 300px

	.slide-3
		width: 300px

	#logo_o
		left: 3%

	#fecha_actual
		left: 23%
		top: -76px

	#menu
		left: 7%