section
    #home
        width: 100%
        position: relative
        height: auto
        float: left
        .content
            width: 1000px
            padding: 20px 09px
            margin: 0 auto
            position: relative
            .destacadas
                width: 1000px
                float: left
                position: relative
                height: auto
                top: -20px
                .view-id-home.view-display-id-block
                    width: 660px
                    float: left
                    position: relative
                    height: 930px
                    margin-right: 20px
                    .nota
                        width: 660px
                        float: left
                        position: relative
                        height: 930px
                        .foto
                            width: 100%
                            height: auto
                            img
                                width: 100%
                                height: auto
                        .info
                            background: rgba(184, 183, 179, 0.5)
                            width: 70%
                            height: 100px 
                            padding: 10px
                            position: absolute
                            bottom: 10px
                            margin: 0px 90px
                            span 
                                width: 100%
                                font-size: 26px
                                font-weight: 600
                                text-align: center
                                padding: 10px 0px
                                border-bottom: 1px solid #000
                                float: left
                                line-height: 28px
                            .titulo
                                padding: 10px 0px
                                text-align: center
                                width: 100%
                                float: left
                                a
                                    color: #BA2B30
                                    font-size: 30px
                                    line-height: 32px
                                    text-decoration: none
                                    font-style: italic
                                    font-weight: 600

                .notas
                    .title
                        float: left
                        width: 300px
                        height: 100px
                        background-color: #BCBCBC
                        text-align: center
                        text-transform: uppercase
                        font-size: 24px
                        color: $blanco
                        font-weight: 700
                    .view-id-home.view-display-id-block_1
                        float: left
                        .views-row
                            height: 400px
                        .views-row-2
                            margin-top: 40px
                        .nota
                            .titulo
                                height: auto
                                position: relative
                                top: -64px
                                background-color: #EFEFEF
                                text-align: center
                                a
                                    text-decoration: none
                                    color: $negro
                                    padding: 5px 0
                                    font-size: 22px
                                    font-weight: 700
                                    width: 230px
                                    display: block
                                    margin: 0 auto
                                    line-height: 24px
            .cumple
                float: left
                width: 100%
                .title
                    text-align: center
                    width: 260px
                    margin: 0 auto
                    background-color: #891D25
                    color: white
                    font-size: 20px
                .views-row
                    float: left
                    margin-right: 80px
                    .cumpleanos
                        position: relative
                        background-color: $azul
                        border-radius: 50%
                        .nombre
                            position: relative
                            z-index: 1
                            width: 145px
                            white-space: nowrap
                            overflow: hidden
                            font-weight: 700
                        .foto
                            text-align: center
                        .cinta
                            position: absolute
                            background: url(../images/cinta.svg) -7px -15px/230px auto no-repeat
                            width: 205px
                            height: 50px
                            left: -35px
                            top: 91px
                        .fecha
                            position: absolute
                            right: -35px
                            top: 100px
                            background-color: $rojo
                            color: $blanco
                            border-radius: 50%
                            z-index: 1
                            white-space: nowrap
                            overflow: hidden
                            width: 35px
                            font-size: 25px
                            span
                                width: 35px
                                float: left
                                margin-left: 4px


