@media screen and (max-width: 768px)
    section 
        #home
            width: 96%
            margin: 0 2%
            padding: 0
            clear: both
            .content
                width: 100%
                padding: 0
                .destacadas
                    width: 100%
                    top: 0
                    clear: both
                    .view-id-home.view-display-id-block
                        width: 100%
                        clear: both
                        .nota
                            width: 100%
                            clear: both
                    .notas
                        display: flex
                        display: -webkit-flex
                        display: -moz-flex
                        width: 100%
                        flex-wrap: wrap
                        -webkit-flex-wrap: wrap
                        -moz-flex-wrap: wrap
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        .title
                            clear: both
                        .view-id-home.view-display-id-block_1
                            clear: both
                            .view-content
                                display: flex
                                display: -webkit-flex
                                display: -moz-flex
                .cumple
                    .view-content
                        clear: both
                        width: 100%
                        display: flex
                        display: -webkit-flex
                        display: -moz-flex
                        -webkit-flex-wrap: wrap
                        -moz-flex-wrap: wrap
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        .views-row
                            margin-top: 10px
                    .next
                        display: none
                .vacaciones
                    .view-content
                        clear: both
                        width: 100%
                        display: flex
                        display: -webkit-flex
                        display: -moz-flex
                        -webkit-flex-wrap: wrap
                        -moz-flex-wrap: wrap
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        .views-row
                            margin-top: 50px
                        .views-row-1, .views-row-2
                            margin-top: 0
                    .next
                        display: none
                .nuevos
                    .view-content
                        clear: both
                        width: 100%
                        display: flex
                        display: -webkit-flex
                        display: -moz-flex
                        -webkit-flex-wrap: wrap
                        -moz-flex-wrap: wrap
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        .views-row
                            margin-top: 50px
                        .views-row-1, .views-row-2
                            margin-top: 0
                    .next
                        display: none
                .noestan
                    .view-content
                        clear: both
                        width: 100%
                        display: flex
                        display: -webkit-flex
                        display: -moz-flex
                        -webkit-flex-wrap: wrap
                        -moz-flex-wrap: wrap
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        .views-row
                            margin-top: 50px
                        .views-row-1, .views-row-2
                            margin-top: 0
                    .next
                        display: none
                .fechas-recordar
                    .view-id-home.view-display-id-block_2
                        .view-content
                            width: 100%
                            flex-wrap: wrap
                            -webkit-flex-wrap: wrap
                            -moz-flex-wrap: wrap
                            justify-content: center
                            -webkit-justify-content: center
                            -moz-justify-content: center

                    .previous
                        display: none
                    .next
                        display: none
                .notas-gente
                    .view-id-home.view-display-id-block_3 
                        .view-content
                            flex-wrap: wrap
                            -webkit-flex-wrap: wrap
                            -moz-flex-wrap: wrap
                            justify-content: center
                            -webkit-justify-content: center
                            -moz-justify-content: center
                            .views-row:first-child
                                margin: 0
                .galeria
                    div
                        width: 100%
                    img
                        width: 100%
                        height: auto
                    #views_slideshow_controls_text_next_home-block_4
                        right: 0
                        top: -260px
                    #views_slideshow_controls_text_previous_home-block_4
                        left: 0
                        top: -260px

    header
        #barra
            .container
                width: 100%

    .menu
        left: 0

    footer
        .container
            width: 100%
            display: flex
            display: -webkit-flex
            display: -moz-flex
            flex-wrap: wrap
            -webkit-flex-wrap: wrap
            -moz-flex-wrap: wrap
            justify-content: center
            -webkit-justify-content: center
            -moz-justify-content: center
        .politica
            width: 100%
            .container-politica
                width: 100%
                .cuadro
                    flex-wrap: wrap
                    -webkit-flex-wrap: wrap
                    -moz-flex-wrap: wrap
                    justify-content: center
                    -webkit-justify-content: center
                    -moz-justify-content: center
                    p
                        border: none