@media screen and (max-width: 380px)
    section 
        #home
            .content
                .destacadas
                    .view-id-home.view-display-id-block
                        .nota
                            .info
                                .titulo
                                    padding: 0
                    .notas
                        .title
                        .view-id-home.view-display-id-block_1
                            .view-content
                                .views-row
                                    .nota
                .galeria
                    .title
                    div
                    img
                    #views_slideshow_controls_text_next_home-block_4
                        display: none
                    #views_slideshow_controls_text_previous_home-block_4
                        display: none
                    .galerias
                        .titulo
                            display: none

    footer 
        .container 
            .formulario
                padding: 0
                width: 100%